@import '~node_modules/normalize.css/normalize';

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.emoji {
  height: 20px;
}

.chat-line-emote, .emoji {
  margin: -.5rem 0;
  vertical-align: middle;
}

.chat-line {
  padding: 6px 0;
  font-weight: 700;
  text-shadow: 0 0 1px #000, 0 0 2px #000;
  &-badge {
    margin-bottom: -3px;
    margin-right: 5px;
  }
  &-cheer-amount {
    font-weight: 600;
    margin-left: 5px;
  }
  &-name {
    font-weight: 700;
    color: #888;
    display: inline-block;
    margin-right: 4px;
  }
  *zoom: 1;
  &:before,
  &:after {
    content: ' ';
    line-height: 0;
    display: table;
  }
  &:after {
    clear: both;
  }
  &-text {
    word-wrap: break-word;
  }
}

.chat-line-combo {
  &-counter {
    margin-left: 6px;
    font-weight: 700;
    margin-right: 6px;
    &-multiplier {
      font-size: 1.3rem;
      display: inline-block;
      &-animated {
        animation: counterIncrease .1s linear;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

@keyframes counterIncrease {
  from {
    transform: scale(1.5);
    color: #ff0000;
  }
  to {
    transform: scale(1);
    color: #fff;
  }
}
